:root {
    --bg-color-body: white;
    --bg-color-main: white;
    --border-color-item: black;
    --font-color: black;
    --font-color-item:blue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
}

html {
    font: 10px Tahoma, sans-serif;
    color:var(--font-color);
}

body {
    background-color: var(--bg-color-body);
    font-size:1.5rem;
}

header {
    margin: 5% auto;
}

header > h1 {
    text-align: center;
    font-size:2em;
}

main {
    margin:0 auto;
    width:80%;
    background-color:var(--bg-color-main);
}

.accordion-wrapper {
    z-index: 0;
}

.accordion-item {
    width:100%;
    margin:2.5% auto;
    padding:2% 0;
    border-top:3px solid var(--border-color-item);
    border-bottom: 3px solid var(--border-color-item);
    color:var(--font-color-item);
    z-index: 1;
}

.accordion-wrapper:hover .accordion-item,
.accordion-item:focus{
    color: var(--font-color);
    cursor:pointer;
}

.accordion-item:active {
    color: var(--font-color-item);
}

/* icons behaviour */
.accordion-wrapper:hover .fa,
.accordion-item .fa-chevron-down
{
    opacity: 1;
}

.accordion-wrapper .fa,
.accordion-item:hover .fa-chevron-down {
    opacity:0;
}

.accordion-item .fa-chevron-up{
    opacity: 0 !important;
}

.accordion-item:hover .fa-chevron-up{
    opacity: 1 !important;
}

.accordion-item img {
    display:block;
    object-fit: cover;
    width:0;
    border-radius:2%;
    height:0;
    transition: ease-in-out 0.2s;
    margin:0 auto;
}

.accordion-item:hover img,
.accordion-item:focus img{
    margin:5% auto 2% auto;
    height:100%;
    width:80%;
}

.accordion-item h2 {
    display:inline-block;
    width:70%;
}

.align-right {
    width: 25%;
    display: inline-flex;
    justify-content: flex-end;
    align-items:center;
    font-size:1.5em;
}

.underline {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:5vh;
    width:100%;
    padding:5%;
    border-top:1px solid black;
}